.caja {
    background-color: grey;
    padding: 20px;
    border-radius: 12px;
    margin: 20px;
}

/* selector de desendencia */
.primera-caja h1 {
    color: yellow;
}

.segunda-caja h1 {
    color: greenyellow;
}

/* selector de descendencia directa*/
.primera-caja > h1 {
    color: red;
}

kkkkkk